/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Couleurs */
:root {

    --bleu: #007BFF;

    --vert: #28B463;

    --jaune: #FFC107;

    --blanc: #FFFFFF;

    --noir: #000000;

}


/* Typographie */






/*       nav-bar      */


/* body {

font-family: 'Roboto', sans-serif; 

font-size: 16px;

line-height: 1.5;

/* color: var(--noir); */



/* } */

/* barre de navigation  */
.nav-css {
    display: flex;
    justify-content: space-around !important;
    font-size: 18px;

    font-family: 'Playfair Display';
    cursor: pointer;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    /* font-weight: bold; */

    /* color: var(--bleu); */

}


.titres {

    font-weight: bold;

    color: var(--bleu);

}

/*  */
a {

    text-decoration: none;

    color: var(--jaune);

}



a:hover {

    color: var(--vert);

}


/* Boutons */


.btn {

    background-color: var(--bleu);

    color: var(--blanc) !important;

    border: none;

    padding: 10px 20px;

    font-size: 16px;

    cursor: pointer;

}


.btn:hover {

    background-color: var(--vert);

}


/* Autres éléments */




/* ===============decorations pages admin et generals======================== */

.bg-admin {
    background-color: #212529
}

.bg-bleuNav {
    background-color: #003554;
}

.bg-claireGriss {
    background-color: #5e4e4ec5;
}

.bg-bleu_claire {
    background-color: #7d9bad;
}

.bg-claire {
    background-color: #d9f7f7c9;
}

.fontTitre {
    font-family: 'Playfair Display', serif;

    font-size: 16px;

    line-height: 1.5;

    color: var(--noir);
    padding: 30px;

}

.title-container {
    background-color: #f8d7da;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-container h1 {
    font-weight: bold;
    color: #dc3545;
    /* rouge foncé */
}

.title-container h1 span {
    color: #007bff;
    /* bleu primaire */
    font-weight: bold;
}

.title-container a {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}

.title-container a:hover {
    background-color: #0069d9;
    /* bleu foncé */
}



/* ==================partie animations pour les card dde index et general */

/*  */
.card1 {
    top: 649px;
    left: 48px;
    width: 318px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 12px;
    margin: 10px;
}

.bg-capitoliounuit {

    /* background: url("../img/spencer-everett-DdVOCPTofFc-unsplash(1).jpg"); */

    /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
        url("/assets/img/capitolio.nuit.jpg"); */

    background-color: #7d9bad;

}

.hoverCart:hover {
    transform: scale(1.1);
}

.textColor {
    color: black;
}


/*  couleurs pour rouge pour les annonces reserved */

.reserved {

    color: #ff0000;
    /* rouge */

}

.border {
    border: 1px solid black;
    border-radius: 3px;
}

/* ==================== CODE PEN     ====================== */

:root {
    --width: min(90vw, 800px);
    --offest: 0 -0.75rem;
}



.pen {
    margin: 30px;
    /* height: 100vh; */
    /* height: 100svh; */
    display: grid;
    place-items: center;
}

.list {
    width: var(--width);
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.15rem;

    &:hover .item:not(:hover)::after {
        background-color: rgba(0, 0, 0, 0.6);
    }

    & .item {
        position: relative;
        flex: 1;
        aspect-ratio: 1;
        border-radius: 0.25rem;
        transition: flex 0.5s, margin 0.6s;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transition: background-color 0.9s;
        }

        &:hover {
            flex: 9;
            z-index: 10;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        &:hover+.item {
            flex: 4;
            margin: var(--offest);
            z-index: 5;
        }

        &:has(+ :hover) {
            flex: 4;
            margin: var(--offest);
            z-index: 5;
        }

        & img {
            position: absolute;
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
}