/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==================Typographie===================== */
.border {
    border: 1px solid black;
    border-radius: 3px;
}

/* Couleurs */
:root {

    --bleu: #007BFF;

    --vert: #28B463;

    --jaune: #FFC107;



    --rouge: #893636;

    --fond-g-bleu: linear-gradient(89.5deg, rgba(131, 204, 255, 1) 0.4%, rgba(66, 144, 251, 1) 100.3%);

    --fond-g-rouge: linear-gradient(25deg, #d64c7f, #ee4758 50%);


}











/* barre de navigation  */
.nav-css {
    display: flex;
    justify-content: space-around !important;
    font-size: 18px;

    font-family: 'Playfair Display';
    cursor: pointer;

}

/* ===========fond ecrams================ */
/* avec cabane a la plage */
.back {
    background-attachment: fixed;
    /* height: 100vh; */
    background-image: url('https://source.unsplash.com/-c4Stt0rvQ8o');
    background-size: cover;
    background-position: center;

}

/* avec enfant */
.back1 {
    background-attachment: fixed;
    /* height: 100vh; */
    background-image: url('https://source.unsplash.com/-EYPtvYda-dY');
    background-size: cover;
    background-position: center;

}


/*  typo des balises <a>  */
a {

    text-decoration: none;

    color: var(--jaune) !important;

}



a:hover {

    color: var(--vert);

}


/* Boutons */

.btn {

    background-color: var(--bleu);

    color: var(--blanc) !important;

    border: none;

    padding: 10px 20px;

    font-size: 16px;

    cursor: pointer;

}




.btn:hover {

    background-color: var(--vert);

}

.no-hover:hover {
    background-color: inherit;
    /* ou une autre valeur qui ne change pas l'apparence du bouton */
}

/* Autres éléments */




/* ===============decorations pages admin et generals======================== */

.bg-admin {
    background-color: #212529
}

.bg-bleuNav {
    background-color: #003554;
}







/*  */


.bg-capitoliounuit {


    background-color: #7d9bad;

}

.bg-blanc {
    background-color: rgb(255, 255, 255);
}


/* ==================partie animations pour les card dde index et general */

/*  */
.card1 {
    top: 649px;
    left: 48px;
    width: 318px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 12px;
    margin: 10px;
}




.hoverCart:hover {
    transform: scale(1.1);
}

.superposerR {

    position: absolute;

    top: 50%;

    left: 58%;

    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.5);

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    z-index: 1;

}
.superposerG {

    position: absolute;

    top: 50%;

    left: 20%;

    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.5);

    padding: 10px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    /* z-index: 1; */

}

/* background-position: 90% 50%; */

/* ==================== CODE PEN     ====================== */

:root {
    --width: min(90vw, 800px);
    --offest: 0 -0.75rem;
}



.pen {
    margin: 30px;
    /* height: 100vh; */
    /* height: 100svh; */
    display: grid;
    place-items: center;

}

.list {
    width: var(--width);
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.15rem;

    &:hover .item:not(:hover)::after {
        background-color: rgba(0, 0, 0, 0.6);

    }

    & .item {
        position: relative;
        flex: 1;
        aspect-ratio: 1;
        border-radius: 0.25rem;
        transition: flex 0.5s, margin 0.6s;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transition: background-color 0.9s;
        }

        &:hover {
            flex: 9;
            z-index: 10;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        &:hover+.item {
            flex: 4;
            margin: var(--offest);
            z-index: 5;
        }

        &:has(+ :hover) {
            flex: 4;
            margin: var(--offest);
            z-index: 5;
        }

        & img {
            position: absolute;
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
}

/* =====================navbarre responsive avec querry========================= */




.nav-resp {
    height: 100vh;
    background-image: url('https://source.unsplash.com/-4nBsYBShPKA');
    background-size: cover;
    background-position: center;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aquamarine;
}

.header-navresp {
    position: relative;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.238);
}

.navbar-resp {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;

} */

.navbar-resp .links {
    display: flex;
    gap: 2rem;
}

.navbar-resp .burger-menu-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

.action-button {
    background-color: #63C7B2;
    color: #120d31;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    color: white;
    border: 1px solid #fff;
}



/* --------BURGER MENU-------------- */

.burquer-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burquer-menu.open {
    height: 350px;
}

.burquer-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burquer-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}





/* ---------RESPONSIVE------------- */


@media (max-width: 990px) {
    header {
        background: none;
    }

    .navbar-resp .links,
    .navbar-resp .action-button {
        display: none;
    }

    .navbar-resp .burger-menu-button {
        display: block;
    }

    .burquer-menu {
        display: block;
    }
}

@media (max-width: 576px) {


    .burquer-menu {
        left: 2rem;
        width: unset;
    }
}