.reserved {

    color: #ff0000;
    /* rouge */

}






/* ===============decorations pages admin et generals======================== */

.bg-admin {
    background-color: #212529
}

.bg-bleuNav {
    background-color: #003554;
}

.bg-claireGriss {
    background-color: #5e4e4ec5;
}

.bg-claire {
    background-color: #7d9bad;
}

.fontTitre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* trouver le font ideal */

}

/* ========animations card============= */

.hoverCart:hover {
    transform: scale(1.1);
}

.textColor {
    color: black;
}

/* ====================      ====================== */